AdszuDesktop/CIQProductsWeb/Service References/CIQAdServices/CIQAdServices1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CAd">
    <xs:sequence>
      <xs:element minOccurs="0" name="AdText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DiscountAmount" type="xs:float" />
      <xs:element minOccurs="0" name="DiscountCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDiscountAPercentage" type="xs:boolean" />
      <xs:element minOccurs="0" name="MarketerID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAd" nillable="true" type="tns:CAd" />
  <xs:complexType name="ArrayOfCAd">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAd" nillable="true" type="tns:CAd" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAd" nillable="true" type="tns:ArrayOfCAd" />
</xs:schema>