WP7AdFinder/WP7AdFinder/Service References/CIQProductServices/CIQProductServices43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://adszu.cloudapp.net/CIQProductServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" />
  <xs:import schemaLocation="http://adszu.cloudapp.net/CIQProductServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateProductInstance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productClassification" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isForBidUsage" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="CreateProductInstanceResult" nillable="true" type="q1:CProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Serialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="aProduct" nillable="true" type="q2:CProduct" />
        <xs:element minOccurs="0" name="outString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SerializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SerializeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="outString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Deserialize">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeserializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="DeserializeResult" nillable="true" type="q3:CProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isForBidUsage" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProductCategoriesResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSubcategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isForBidUsage" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductSubcategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProductSubcategoriesResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductClassifications">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sCategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sSubcategory" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isForBidUsage" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductClassificationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetProductClassificationsResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>