AdszuDesktop/CIQProductsWeb/Service References/CIQProductServices/CIQProductServices2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:81/CIQProductServices.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="CProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductClassification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductProperties" nillable="true" type="tns:ArrayOfCProperty" />
      <xs:element minOccurs="0" name="VersionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CProduct" nillable="true" type="tns:CProduct" />
  <xs:complexType name="ArrayOfCProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CProperty" nillable="true" type="tns:CProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCProperty" nillable="true" type="tns:ArrayOfCProperty" />
  <xs:complexType name="CProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyValue" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ValidValues" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CProperty" nillable="true" type="tns:CProperty" />
</xs:schema>