WP7AdFinder/WP7AdFinder/Service References/CIQAffiliateServices/CIQAffiliateServices1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CIQAffiliateServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://adszu.cloudapp.net/CIQAffiliateServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://adszu.cloudapp.net/CIQAffiliateServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://adszu.cloudapp.net/CIQAffiliateServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICIQPlatform_GetAdList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdList" />
  </wsdl:message>
  <wsdl:message name="ICIQPlatform_GetAdList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdListResponse" />
  </wsdl:message>
  <wsdl:message name="ICIQPlatform_GetAdDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdDetails" />
  </wsdl:message>
  <wsdl:message name="ICIQPlatform_GetAdDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICIQPlatform_GetAdCoupon_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdCoupon" />
  </wsdl:message>
  <wsdl:message name="ICIQPlatform_GetAdCoupon_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAdCouponResponse" />
  </wsdl:message>
  <wsdl:message name="ICIQPlatform_GetProductInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInformation" />
  </wsdl:message>
  <wsdl:message name="ICIQPlatform_GetProductInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="ICIQPlatform">
    <wsdl:operation name="GetAdList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICIQPlatform/GetAdList" message="tns:ICIQPlatform_GetAdList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICIQPlatform/GetAdListResponse" message="tns:ICIQPlatform_GetAdList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICIQPlatform/GetAdDetails" message="tns:ICIQPlatform_GetAdDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICIQPlatform/GetAdDetailsResponse" message="tns:ICIQPlatform_GetAdDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAdCoupon">
      <wsdl:input wsaw:Action="http://tempuri.org/ICIQPlatform/GetAdCoupon" message="tns:ICIQPlatform_GetAdCoupon_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICIQPlatform/GetAdCouponResponse" message="tns:ICIQPlatform_GetAdCoupon_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ICIQPlatform/GetProductInformation" message="tns:ICIQPlatform_GetProductInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICIQPlatform/GetProductInformationResponse" message="tns:ICIQPlatform_GetProductInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICIQPlatform" type="tns:ICIQPlatform">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdList">
      <soap:operation soapAction="http://tempuri.org/ICIQPlatform/GetAdList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdDetails">
      <soap:operation soapAction="http://tempuri.org/ICIQPlatform/GetAdDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdCoupon">
      <soap:operation soapAction="http://tempuri.org/ICIQPlatform/GetAdCoupon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductInformation">
      <soap:operation soapAction="http://tempuri.org/ICIQPlatform/GetProductInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CIQAffiliateServices">
    <wsdl:port name="BasicHttpBinding_ICIQPlatform" binding="tns:BasicHttpBinding_ICIQPlatform">
      <soap:address location="http://adszu.cloudapp.net/CIQAffiliateServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>