WP7AdFinder/WP7AdFinder/Service References/CIQAffiliateServices/CIQAffiliateServices32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://adszu.cloudapp.net/CIQAffiliateServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://adszu.cloudapp.net/CIQAffiliateServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" />
  <xs:element name="GetAdList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="affiliateID" type="q1:guid" />
        <xs:element minOccurs="0" name="scannedCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element minOccurs="0" name="adsToReturn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="GetAdListResult" nillable="true" type="q2:ProductAds" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="affiliateID" type="q3:guid" />
        <xs:element minOccurs="0" name="scannedCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="adGuid" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="GetAdDetailsResult" nillable="true" type="q5:CProductAd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdCoupon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="affiliateID" type="q6:guid" />
        <xs:element minOccurs="0" name="scannedCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="redeemGuid" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdCouponResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="GetAdCouponResult" nillable="true" type="q8:CProductAd" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="affiliateID" type="q9:guid" />
        <xs:element minOccurs="0" name="scannedCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lon" type="xs:double" />
        <xs:element minOccurs="0" name="lat" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="GetProductInformationResult" nillable="true" type="q10:ProductProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>