WP7AdFinder/WP7AdFinder/Service References/CIQProductIdentityServices/CIQProductIdentityServices32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://adszu.cloudapp.net/CIQProductIdentityServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" />
  <xs:element name="CreateProductIdentityInstance">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductIdentityInstanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="CreateProductIdentityInstanceResult" nillable="true" type="q1:CProductIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="cPI" nillable="true" type="q2:CProductIdentity" />
        <xs:element minOccurs="0" name="flattenedProduct" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveProductIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveProductIdentityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryKind">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flattenedProduct" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryKindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="QueryKindResult" nillable="true" type="q3:ArrayOfCProductIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mapping" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="productIdentity" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MapIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MapIdentityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceWebRole" minOccurs="0" name="QueryIdentityResult" nillable="true" type="q4:CProductIdentity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="QueryProductResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>